:root {
  --tooltip-border-color:var(--color-light-neutral-300);
  --tooltip-bg-color:var(--color-light-modal-bg-primary);
  --tooltip-hint-bg-color:var(--color-light-modal-bg-primary-inverted);
  --tooltip-hint-text-color:var(--color-light-text-primary-inverted);
  --tooltip-hint-box-shadow:var(--shadow-m-hard)
}
.alfa-components__hint--FOb2N {
  background-color:var(--tooltip-hint-bg-color);
  box-shadow:var(--tooltip-hint-box-shadow);
  color:var(--tooltip-hint-text-color)
}
.alfa-components__hint--FOb2N .alfa-components__arrow--sfC0R:after {
  background-color:var(--tooltip-hint-bg-color);
  border-color:var(--tooltip-hint-bg-color)
}
.alfa-components__tooltip--CRDrV {
  background-color:var(--tooltip-bg-color);
  border:1px solid var(--tooltip-border-color)
}
.alfa-components__tooltip--CRDrV .alfa-components__arrow--sfC0R:after {
  background-color:var(--tooltip-bg-color);
  border-color:var(--tooltip-border-color)
}
:root {
  --tooltip-max-width:368px
}
.alfa-components__component--Lq7ta {
  font-size:14px;
  font-weight:400;
  line-height:20px;
  max-width:var(--tooltip-max-width);
  padding:var(--gap-16)
}
.alfa-components__popper--wBuYA {
  border-radius:var(--border-radius-8);
  box-sizing:border-box
}
.alfa-components__hint--nOMSb .alfa-components__component--Lq7ta {
  font-size:13px;
  font-weight:400;
  line-height:16px;
  padding:var(--gap-8)
}
.alfa-components__hint--nOMSb {
  border-radius:var(--border-radius-4)
}
.alfa-components__target--FsAYC {
  cursor:pointer;
  display:inline-block;
  position:relative
}
.alfa-components__target--FsAYC .alfa-components__overlap--dOd1k {
  cursor:var(--disabled-cursor);
  height:100%;
  position:absolute;
  width:100%;
  z-index:2
}
.alfa-components__inline--v1gT6 {
  display:inline
}
:root {
  --tooltip-hint-inverted-bg-color:var(--color-light-modal-bg-primary);
  --tooltip-hint-inverted-text-color:var(--color-light-text-primary);
  --tooltip-hint-inverted-box-shadow:var(--shadow-m);
  --tooltip-inverted-text-color:var(--color-light-text-primary-inverted);
  --tooltip-inverted-bg-color:var(--color-light-modal-bg-primary-inverted);
  --tooltip-inverted-box-shadow:var(--shadow-m-hard)
}
.alfa-components__tooltip--xxnGM {
  box-shadow:var(--tooltip-inverted-box-shadow);
  color:var(--tooltip-inverted-text-color)
}
.alfa-components__tooltip--xxnGM,
.alfa-components__tooltip--xxnGM .alfa-components__arrow--WwbDG:after {
  background-color:var(--tooltip-inverted-bg-color)
}
.alfa-components__hint--uxsnb {
  box-shadow:var(--tooltip-hint-inverted-box-shadow);
  color:var(--tooltip-hint-inverted-text-color)
}
.alfa-components__hint--uxsnb,
.alfa-components__hint--uxsnb .alfa-components__arrow--WwbDG:after {
  background-color:var(--tooltip-hint-inverted-bg-color)
}
.alfa-components__gap--dEKxV {
  flex-shrink:0
}
.alfa-components__vertical--_v7za {
  display:block;
  overflow:hidden
}
.alfa-components__horizontal--GyuZQ {
  display:inline-block;
  overflow:hidden
}
.alfa-components__vertical--_v7za.alfa-components__gap--dEKxV[data-gap-size=size-0] {
  height:0
}
.alfa-components__vertical--_v7za.alfa-components__gap--dEKxV[data-gap-size=size-1] {
  height:1px
}
.alfa-components__vertical--_v7za.alfa-components__gap--dEKxV[data-gap-size=size-2] {
  height:2px
}
.alfa-components__vertical--_v7za.alfa-components__gap--dEKxV[data-gap-size=size-4] {
  height:4px
}
.alfa-components__vertical--_v7za.alfa-components__gap--dEKxV[data-gap-size=size-8] {
  height:8px
}
.alfa-components__vertical--_v7za.alfa-components__gap--dEKxV[data-gap-size=size-12] {
  height:12px
}
.alfa-components__vertical--_v7za.alfa-components__gap--dEKxV[data-gap-size=size-16] {
  height:16px
}
.alfa-components__vertical--_v7za.alfa-components__gap--dEKxV[data-gap-size=size-20] {
  height:20px
}
.alfa-components__vertical--_v7za.alfa-components__gap--dEKxV[data-gap-size=size-24] {
  height:24px
}
.alfa-components__vertical--_v7za.alfa-components__gap--dEKxV[data-gap-size=size-26] {
  height:26px
}
.alfa-components__vertical--_v7za.alfa-components__gap--dEKxV[data-gap-size=size-28] {
  height:28px
}
.alfa-components__vertical--_v7za.alfa-components__gap--dEKxV[data-gap-size=size-32] {
  height:32px
}
.alfa-components__vertical--_v7za.alfa-components__gap--dEKxV[data-gap-size=size-40] {
  height:40px
}
.alfa-components__vertical--_v7za.alfa-components__gap--dEKxV[data-gap-size=size-48] {
  height:48px
}
.alfa-components__vertical--_v7za.alfa-components__gap--dEKxV[data-gap-size=size-64] {
  height:64px
}
.alfa-components__vertical--_v7za.alfa-components__gap--dEKxV[data-gap-size=size-72] {
  height:72px
}
.alfa-components__vertical--_v7za.alfa-components__gap--dEKxV[data-gap-size=size-96] {
  height:96px
}
.alfa-components__vertical--_v7za.alfa-components__gap--dEKxV[data-gap-size=size-128] {
  height:128px
}
.alfa-components__vertical--_v7za.alfa-components__gap--dEKxV[data-gap-size=size-256] {
  height:256px
}
.alfa-components__horizontal--GyuZQ.alfa-components__gap--dEKxV[data-gap-size=size-0] {
  width:0
}
.alfa-components__horizontal--GyuZQ.alfa-components__gap--dEKxV[data-gap-size=size-1] {
  width:1px
}
.alfa-components__horizontal--GyuZQ.alfa-components__gap--dEKxV[data-gap-size=size-2] {
  width:2px
}
.alfa-components__horizontal--GyuZQ.alfa-components__gap--dEKxV[data-gap-size=size-4] {
  width:4px
}
.alfa-components__horizontal--GyuZQ.alfa-components__gap--dEKxV[data-gap-size=size-8] {
  width:8px
}
.alfa-components__horizontal--GyuZQ.alfa-components__gap--dEKxV[data-gap-size=size-12] {
  width:12px
}
.alfa-components__horizontal--GyuZQ.alfa-components__gap--dEKxV[data-gap-size=size-16] {
  width:16px
}
.alfa-components__horizontal--GyuZQ.alfa-components__gap--dEKxV[data-gap-size=size-20] {
  width:20px
}
.alfa-components__horizontal--GyuZQ.alfa-components__gap--dEKxV[data-gap-size=size-24] {
  width:24px
}
.alfa-components__horizontal--GyuZQ.alfa-components__gap--dEKxV[data-gap-size=size-26] {
  width:26px
}
.alfa-components__horizontal--GyuZQ.alfa-components__gap--dEKxV[data-gap-size=size-28] {
  width:28px
}
.alfa-components__horizontal--GyuZQ.alfa-components__gap--dEKxV[data-gap-size=size-32] {
  width:32px
}
.alfa-components__horizontal--GyuZQ.alfa-components__gap--dEKxV[data-gap-size=size-40] {
  width:40px
}
.alfa-components__horizontal--GyuZQ.alfa-components__gap--dEKxV[data-gap-size=size-48] {
  width:48px
}
.alfa-components__horizontal--GyuZQ.alfa-components__gap--dEKxV[data-gap-size=size-64] {
  width:64px
}
.alfa-components__horizontal--GyuZQ.alfa-components__gap--dEKxV[data-gap-size=size-72] {
  width:72px
}
.alfa-components__horizontal--GyuZQ.alfa-components__gap--dEKxV[data-gap-size=size-96] {
  width:96px
}
.alfa-components__horizontal--GyuZQ.alfa-components__gap--dEKxV[data-gap-size=size-128] {
  width:128px
}
.alfa-components__horizontal--GyuZQ.alfa-components__gap--dEKxV[data-gap-size=size-256] {
  width:256px
}
.desktop__popper--j323I {
  border-radius:var(--border-radius-12)
}
.desktop__hint--CEpyD {
  border-radius:var(--border-radius-8)
}
.alfa-components__component--Z5DLE {
  align-items:center;
  display:flex;
  height:24px;
  justify-content:center;
  width:24px
}
.alfa-components__component--Z5DLE div {
  animation-duration:.95s;
  animation-iteration-count:infinite;
  animation-name:alfa-components__blink--GvaA3;
  animation-timing-function:ease-in-out;
  background-color:currentColor;
  border-radius:100%;
  height:4px;
  margin-right:var(--gap-4);
  transform:scale(0);
  width:4px
}
.alfa-components__component--Z5DLE div:first-child {
  animation-delay:0ms;
  transform-origin:15% 50%
}
.alfa-components__component--Z5DLE div:nth-child(2) {
  animation-delay:.15s;
  transform-origin:50% 50%
}
.alfa-components__component--Z5DLE div:nth-child(3) {
  animation-delay:.3s;
  margin-right:var(--gap-0);
  transform-origin:85% 50%
}
@keyframes alfa-components__blink--GvaA3 {
  21% {
    transform:scale(1)
  }
  47% {
    transform:scale(1)
  }
  68% {
    transform:scale(0)
  }
}
:root {
  --backdrop-visible-background:var(--color-light-overlay-default);
  --backdrop-hidden-background:transparent
}
.backdrop__appear--OSKFq,
.backdrop__enter--RfzqK {
  background-color:var(--backdrop-hidden-background)
}
.backdrop__appearActive--z656y,
.backdrop__appearDone--M6N4C,
.backdrop__enterActive--iVFL7,
.backdrop__enterDone--qHCQq {
  background-color:var(--backdrop-visible-background);
  transition:background-color .3s cubic-bezier(.65,0,.35,1)
}
.backdrop__exit--_c0L4 {
  background-color:var(--backdrop-visible-background)
}
.backdrop__exitActive--ApN29,
.backdrop__exitDone--O0Cl5 {
  background-color:var(--backdrop-hidden-background);
  transition:background-color .3s cubic-bezier(.65,0,.35,1)
}
.base-custom-button__customButton--k9U5l {
  overflow:hidden;
  position:relative
}
.base-custom-button__customButton--k9U5l.base-custom-button__border--rHLrm {
  border:0
}
.base-custom-button__customButton--k9U5l.base-custom-button__white--HG3B0 * {
  color:var(--color-light-text-primary-inverted)
}
.base-custom-button__customButton--k9U5l.base-custom-button__black--mJBlx * {
  color:var(--color-light-text-primary)
}
.base-custom-button__customButton--k9U5l.base-custom-button__static-white--_Bs2u * {
  color:var(--color-static-text-primary-inverted)
}
.base-custom-button__customButton--k9U5l.base-custom-button__static-black--Nv1ZC * {
  color:var(--color-static-text-primary)
}
.base-custom-button__customButton--k9U5l span {
  position:relative;
  z-index:3
}
.base-custom-button__customButton--k9U5l:before {
  background-color:transparent;
  bottom:var(--gap-0);
  content:"";
  left:var(--gap-0);
  opacity:1;
  pointer-events:none;
  position:absolute;
  right:var(--gap-0);
  top:var(--gap-0);
  transition:.2s
}
.base-custom-button__customButton--k9U5l.base-custom-button__darkening--tD4u3:hover:before {
  background-color:var(--color-light-neutral-translucent-200)
}
.base-custom-button__customButton--k9U5l.base-custom-button__darkening--tD4u3:active:before {
  background-color:var(--color-light-neutral-translucent-400)
}
.base-custom-button__customButton--k9U5l.base-custom-button__lightening--Ta2Wd:hover:before {
  background-color:var(--color-light-neutral-translucent-200-inverted)
}
.base-custom-button__customButton--k9U5l.base-custom-button__lightening--Ta2Wd:active:before {
  background-color:var(--color-light-neutral-translucent-400-inverted)
}
.base-custom-button__customButton--k9U5l.base-custom-button__static-darkening--k_wTJ:hover:before {
  background-color:rgba(0,0,0,.07)
}
.base-custom-button__customButton--k9U5l.base-custom-button__static-darkening--k_wTJ:active:before {
  background-color:rgba(0,0,0,.15)
}
.base-custom-button__customButton--k9U5l.base-custom-button__static-lightening--q9_Oa:hover:before {
  background-color:hsla(0,0%,100%,.07)
}
.base-custom-button__customButton--k9U5l.base-custom-button__static-lightening--q9_Oa:active:before {
  background-color:hsla(0,0%,100%,.15)
}
.base-custom-button__customButton--k9U5l:disabled.base-custom-button__disableType-default--Zh7YR {
  background-color:var(--color-light-neutral-translucent-100)
}
.base-custom-button__customButton--k9U5l:disabled.base-custom-button__disableType-default--Zh7YR span {
  color:var(--color-light-text-tertiary)
}
.base-custom-button__customButton--k9U5l:disabled.base-custom-button__disableType-static--y12Gz {
  background-color:var(--color-static-neutral-translucent-100)
}
.base-custom-button__customButton--k9U5l:disabled.base-custom-button__disableType-static--y12Gz span {
  color:var(--color-static-text-tertiary)
}
.base-custom-button__customButton--k9U5l:disabled.base-custom-button__disableType-inverted--UUewz {
  background-color:var(--color-light-neutral-translucent-100-inverted)
}
.base-custom-button__customButton--k9U5l:disabled.base-custom-button__disableType-inverted--UUewz span {
  color:var(--color-light-text-tertiary-inverted)
}
.base-custom-button__customButton--k9U5l:disabled.base-custom-button__disableType-static-inverted--aNKDV {
  background-color:var(--color-static-neutral-translucent-100-inverted)
}
.base-custom-button__customButton--k9U5l:disabled.base-custom-button__disableType-static-inverted--aNKDV span {
  color:var(--color-static-text-tertiary-inverted)
}
.alfa-components__component--xKjTV {
  border-radius:var(--border-radius-36);
  bottom:var(--gap-0);
  margin:auto var(--gap-8) var(--gap-8);
  max-width:600px;
  overflow:hidden;
  position:fixed;
  width:calc(100% - var(--gap-8)*2)
}
.alfa-components__closer--fo0zH {
  position:absolute;
  right:var(--gap-8);
  top:var(--gap-8)
}
.alfa-components__closer--fo0zH>button {
  -webkit-backdrop-filter:none;
  backdrop-filter:none
}
.alfa-components__content--DAbNF {
  box-sizing:border-box
}
.alfa-components__appear--HpF6W,
.alfa-components__enter--Fucdn {
  transform:translateY(calc(100% + 100px))
}
.alfa-components__appearActive--QK4Sq,
.alfa-components__enterActive--WmlaO {
  transform:translateY(0);
  transition:transform .3s cubic-bezier(.65,0,.35,1);
  transition-delay:50ms
}
.alfa-components__exit--pBTdT {
  transform:translateY(0)
}
.alfa-components__exitBySwipe--jMiEJ {
  transform:translateY(calc(100% + 100px))
}
.alfa-components__exitActiveBySwipe--N1luv {
  transition:none
}
.alfa-components__exitActive--ct1LC,
.alfa-components__exitDone--I7L3X {
  transform:translateY(calc(100% + 100px));
  transition:transform .3s cubic-bezier(.65,0,.35,1)
}
:root {
  --underline-border-color-accent:var(--color-light-accent-primary);
  --underline-border-color-key:var(--color-light-neutral-translucent-1300);
  --underline-border-color-key-inverted:var(--color-light-neutral-translucent-1300-inverted);
  --underline-border-color-link:var(--color-light-status-info);
  --underline-border-color-primary:var(--color-light-neutral-400);
  --underline-border-color-primary-inverted:var(--color-light-neutral-400-inverted);
  --underline-border-color-secondary:var(--color-light-neutral-300);
  --underline-border-color-secondary-inverted:var(--color-light-neutral-300-inverted);
  --underline-border-color-tertiary:var(--color-light-neutral-200);
  --underline-border-color-tertiary-inverted:var(--color-light-neutral-200-inverted);
  --underline-border-color-underline:var(--color-light-neutral-500);
  --underline-border-color-underline-inverted:var(--color-light-neutral-500-inverted);
  --underline-border-color-graphic-attention:var(--color-light-status-attention);
  --underline-border-color-graphic-link:var(--color-light-status-info);
  --underline-border-color-graphic-negative:var(--color-light-status-negative);
  --underline-border-color-graphic-positive:var(--color-light-status-positive);
  --underline-border-color-specialbg-secondary-transparent:var(
        --color-light-neutral-translucent-200
    );
  --underline-border-color-specialbg-secondary-transparent-inverted:var(
        --color-light-neutral-translucent-200-inverted
    );
  --underline-border-color-specialbg-tertiary-transparent:var(
        --color-light-neutral-translucent-300
    );
  --underline-border-color-specialbg-tertiary-transparent-inverted:var(
        --color-light-neutral-translucent-300-inverted
    )
}
.alfa-components__component--xu54K,
.alfa-components__content--rVUh1 {
  box-sizing:border-box;
  display:flex
}
.alfa-components__content--rVUh1 {
  height:100%;
  width:100%
}
.alfa-components__overflowHide--tUG16 {
  overflow:hidden
}
.alfa-components__background-accent--aZiXc {
  background-color:var(--color-light-bg-accent)
}
.alfa-components__background-info--uzKFj {
  background-color:var(--color-light-bg-info)
}
.alfa-components__background-attention-muted--KMU6k {
  background-color:var(--color-light-bg-attention-muted)
}
.alfa-components__background-positive-muted--cI0kI {
  background-color:var(--color-light-bg-positive-muted)
}
.alfa-components__background-negative-muted--dz_p5 {
  background-color:var(--color-light-bg-negative-muted)
}
.alfa-components__background-primary--pv5fK {
  background-color:var(--color-light-bg-primary)
}
.alfa-components__background-primary-inverted--vI9P6 {
  background-color:var(--color-light-bg-primary-inverted)
}
.alfa-components__background-secondary--xIbQE {
  background-color:var(--color-light-bg-secondary)
}
.alfa-components__background-secondary-inverted--O4vEu {
  background-color:var(--color-light-bg-secondary-inverted)
}
.alfa-components__background-tertiary--gjP5w {
  background-color:var(--color-light-bg-tertiary)
}
.alfa-components__background-tertiary-inverted--Ak3rS {
  background-color:var(--color-light-bg-tertiary-inverted)
}
.alfa-components__background-quaternary--BKzzb {
  background-color:var(--color-light-bg-quaternary)
}
.alfa-components__background-quaternary-inverted--zITY_ {
  background-color:var(--color-light-bg-quaternary-inverted)
}
.alfa-components__background-specialbg-component--Gaiap {
  background-color:var(--color-light-specialbg-component)
}
.alfa-components__background-specialbg-component-inverted--CT0ds {
  background-color:var(--color-light-specialbg-component-inverted)
}
.alfa-components__background-specialbg-primary-grouped--bijIn {
  background-color:var(--color-light-specialbg-primary-grouped)
}
.alfa-components__background-specialbg-secondary-grouped--ItjCf {
  background-color:var(--color-light-specialbg-secondary-grouped)
}
.alfa-components__background-specialbg-tertiary-grouped--HH7Ko {
  background-color:var(--color-light-specialbg-tertiary-grouped)
}
.alfa-components__background-specialbg-secondary-transparent--d0SUI {
  background-color:var(--color-light-specialbg-secondary-transparent)
}
.alfa-components__background-specialbg-secondary-transparent-inverted--U9cFv {
  background-color:var(--color-light-specialbg-secondary-transparent-inverted)
}
.alfa-components__background-specialbg-tertiary-transparent--eyNRM {
  background-color:var(--color-light-specialbg-tertiary-transparent)
}
.alfa-components__background-specialbg-tertiary-transparent-inverted--s2Qbr {
  background-color:var(--color-light-specialbg-tertiary-transparent-inverted)
}
.alfa-components__padding-top-3xs--NJLPD {
  padding-top:var(--gap-3xs)
}
.alfa-components__padding-right-3xs--gosbI {
  padding-right:var(--gap-3xs)
}
.alfa-components__padding-bottom-3xs--dGe9X {
  padding-bottom:var(--gap-3xs)
}
.alfa-components__padding-left-3xs--Ky6Kz {
  padding-left:var(--gap-3xs)
}
.alfa-components__padding-top-2xs--DQaYk {
  padding-top:var(--gap-2xs)
}
.alfa-components__padding-right-2xs--JgLsy {
  padding-right:var(--gap-2xs)
}
.alfa-components__padding-bottom-2xs--HTTcq {
  padding-bottom:var(--gap-2xs)
}
.alfa-components__padding-left-2xs--K19Kz {
  padding-left:var(--gap-2xs)
}
.alfa-components__padding-top-xs--kVHE7 {
  padding-top:var(--gap-xs)
}
.alfa-components__padding-right-xs--SkIBY {
  padding-right:var(--gap-xs)
}
.alfa-components__padding-bottom-xs--ROTqM {
  padding-bottom:var(--gap-xs)
}
.alfa-components__padding-left-xs--b8xYA {
  padding-left:var(--gap-xs)
}
.alfa-components__padding-top-s--BA7OP {
  padding-top:var(--gap-s)
}
.alfa-components__padding-right-s--rgokZ {
  padding-right:var(--gap-s)
}
.alfa-components__padding-bottom-s--YgamK {
  padding-bottom:var(--gap-s)
}
.alfa-components__padding-left-s--GSsgI {
  padding-left:var(--gap-s)
}
.alfa-components__padding-top-m--tJblI {
  padding-top:var(--gap-m)
}
.alfa-components__padding-right-m--yLhae {
  padding-right:var(--gap-m)
}
.alfa-components__padding-bottom-m--F3bCj {
  padding-bottom:var(--gap-m)
}
.alfa-components__padding-left-m--mD7g4 {
  padding-left:var(--gap-m)
}
.alfa-components__padding-top-l--MuyPM {
  padding-top:var(--gap-l)
}
.alfa-components__padding-right-l--VdgAy {
  padding-right:var(--gap-l)
}
.alfa-components__padding-bottom-l--HasQ5 {
  padding-bottom:var(--gap-l)
}
.alfa-components__padding-left-l--UDif0 {
  padding-left:var(--gap-l)
}
.alfa-components__padding-top-xl--kVLY2 {
  padding-top:var(--gap-xl)
}
.alfa-components__padding-right-xl--cZRxd {
  padding-right:var(--gap-xl)
}
.alfa-components__padding-bottom-xl--QVe9F {
  padding-bottom:var(--gap-xl)
}
.alfa-components__padding-left-xl--wHTEO {
  padding-left:var(--gap-xl)
}
.alfa-components__padding-top-2xl--qajO3 {
  padding-top:var(--gap-2xl)
}
.alfa-components__padding-right-2xl--Gku21 {
  padding-right:var(--gap-2xl)
}
.alfa-components__padding-bottom-2xl--b5dh_ {
  padding-bottom:var(--gap-2xl)
}
.alfa-components__padding-left-2xl--qpaGr {
  padding-left:var(--gap-2xl)
}
.alfa-components__padding-top-3xl--FRTqx {
  padding-top:var(--gap-3xl)
}
.alfa-components__padding-right-3xl--YUG0p {
  padding-right:var(--gap-3xl)
}
.alfa-components__padding-bottom-3xl--M4tVK {
  padding-bottom:var(--gap-3xl)
}
.alfa-components__padding-left-3xl--iDJ9m {
  padding-left:var(--gap-3xl)
}
.alfa-components__padding-top-4xl--FVcNN {
  padding-top:var(--gap-4xl)
}
.alfa-components__padding-right-4xl--dKEO0 {
  padding-right:var(--gap-4xl)
}
.alfa-components__padding-bottom-4xl--hOe9b {
  padding-bottom:var(--gap-4xl)
}
.alfa-components__padding-left-4xl--V1TyV {
  padding-left:var(--gap-4xl)
}
.alfa-components__padding-top-5xl--b1Dyu {
  padding-top:var(--gap-5xl)
}
.alfa-components__padding-right-5xl--yfO8M {
  padding-right:var(--gap-5xl)
}
.alfa-components__padding-bottom-5xl--KzOXo {
  padding-bottom:var(--gap-5xl)
}
.alfa-components__padding-left-5xl--Vv5I8 {
  padding-left:var(--gap-5xl)
}
.alfa-components__padding-top-6xl--Yn_wF {
  padding-top:var(--gap-6xl)
}
.alfa-components__padding-right-6xl--deaQe {
  padding-right:var(--gap-6xl)
}
.alfa-components__padding-bottom-6xl--P98Wu {
  padding-bottom:var(--gap-6xl)
}
.alfa-components__padding-left-6xl--qX2Is {
  padding-left:var(--gap-6xl)
}
.alfa-components__border-bottom-left-xs--sUKgJ {
  border-bottom-left-radius:var(--border-radius-xs)
}
.alfa-components__border-bottom-right-xs--bgFF6 {
  border-bottom-right-radius:var(--border-radius-xs)
}
.alfa-components__border-top-left-xs--aNxwM {
  border-top-left-radius:var(--border-radius-xs)
}
.alfa-components__border-top-right-xs--usrhX {
  border-top-right-radius:var(--border-radius-xs)
}
.alfa-components__border-bottom-left-s--ZAfLv {
  border-bottom-left-radius:var(--border-radius-s)
}
.alfa-components__border-bottom-right-s--y098e {
  border-bottom-right-radius:var(--border-radius-s)
}
.alfa-components__border-top-left-s--lSeV9 {
  border-top-left-radius:var(--border-radius-s)
}
.alfa-components__border-top-right-s--AklSz {
  border-top-right-radius:var(--border-radius-s)
}
.alfa-components__border-bottom-left-m--cUase {
  border-bottom-left-radius:var(--border-radius-m)
}
.alfa-components__border-bottom-right-m--GzTxS {
  border-bottom-right-radius:var(--border-radius-m)
}
.alfa-components__border-top-left-m--uAAWo {
  border-top-left-radius:var(--border-radius-m)
}
.alfa-components__border-top-right-m--mezJS {
  border-top-right-radius:var(--border-radius-m)
}
.alfa-components__border-bottom-left-l--lsqIF {
  border-bottom-left-radius:var(--border-radius-l)
}
.alfa-components__border-bottom-right-l--T9Xkq {
  border-bottom-right-radius:var(--border-radius-l)
}
.alfa-components__border-top-left-l--Z4dBZ {
  border-top-left-radius:var(--border-radius-l)
}
.alfa-components__border-top-right-l--dyF0E {
  border-top-right-radius:var(--border-radius-l)
}
.alfa-components__border-bottom-left-xl--CJmUy {
  border-bottom-left-radius:var(--border-radius-xl)
}
.alfa-components__border-bottom-right-xl--tfKTz {
  border-bottom-right-radius:var(--border-radius-xl)
}
.alfa-components__border-top-left-xl--ZX2Wq {
  border-top-left-radius:var(--border-radius-xl)
}
.alfa-components__border-top-right-xl--eS767 {
  border-top-right-radius:var(--border-radius-xl)
}
.alfa-components__border-bottom-left-xxl--Ug4Qo {
  border-bottom-left-radius:var(--border-radius-xxl)
}
.alfa-components__border-bottom-right-xxl--LvIyf {
  border-bottom-right-radius:var(--border-radius-xxl)
}
.alfa-components__border-top-left-xxl--Iz1x1 {
  border-top-left-radius:var(--border-radius-xxl)
}
.alfa-components__border-top-right-xxl--RCmsv {
  border-top-right-radius:var(--border-radius-xxl)
}
.alfa-components__border-bottom-left-3xl--uAg4W {
  border-bottom-left-radius:var(--border-radius-3xl)
}
.alfa-components__border-bottom-right-3xl--EwRlT {
  border-bottom-right-radius:var(--border-radius-3xl)
}
.alfa-components__border-top-left-3xl--oOurV {
  border-top-left-radius:var(--border-radius-3xl)
}
.alfa-components__border-top-right-3xl--iAfNq {
  border-top-right-radius:var(--border-radius-3xl)
}
.alfa-components__shadow-xs--SwUyr {
  box-shadow:var(--shadow-xs)
}
.alfa-components__shadow-s--jMsRV {
  box-shadow:var(--shadow-s)
}
.alfa-components__shadow-m--PSgSW {
  box-shadow:var(--shadow-m)
}
.alfa-components__shadow-l--Qs8Bz {
  box-shadow:var(--shadow-l)
}
.alfa-components__shadow-xl--GJ5C3 {
  box-shadow:var(--shadow-xl)
}
.alfa-components__shadow-xs-hard--eCXdt {
  box-shadow:var(--shadow-xs-hard)
}
.alfa-components__shadow-s-hard--e6Dp7 {
  box-shadow:var(--shadow-s-hard)
}
.alfa-components__shadow-m-hard--Ly9vN {
  box-shadow:var(--shadow-m-hard)
}
.alfa-components__shadow-l-hard--F6VYb {
  box-shadow:var(--shadow-l-hard)
}
.alfa-components__shadow-xl-hard--pYKBY {
  box-shadow:var(--shadow-xl-hard)
}
.alfa-components__shadow-xs-up--uZOm0 {
  box-shadow:var(--shadow-xs-up)
}
.alfa-components__shadow-s-up--sVWOy {
  box-shadow:var(--shadow-s-up)
}
.alfa-components__shadow-m-up--VoU63 {
  box-shadow:var(--shadow-m-up)
}
.alfa-components__shadow-l-up--JU0LD {
  box-shadow:var(--shadow-l-up)
}
.alfa-components__shadow-xl-up--Qd7bL {
  box-shadow:var(--shadow-xl-up)
}
.alfa-components__shadow-xs-hard-up--aODWJ {
  box-shadow:var(--shadow-xs-hard-up)
}
.alfa-components__shadow-s-hard-up--e6Gpu {
  box-shadow:var(--shadow-s-hard-up)
}
.alfa-components__shadow-m-hard-up--FpDW6 {
  box-shadow:var(--shadow-m-hard-up)
}
.alfa-components__shadow-l-hard-up--FiuFC {
  box-shadow:var(--shadow-l-hard-up)
}
.alfa-components__shadow-xl-hard-up--bjz2m {
  box-shadow:var(--shadow-xl-hard-up)
}
.alfa-components__border-color-accent--S7RUE {
  border-color:var(--underline-border-color-accent)
}
.alfa-components__border-color-key--Slp32 {
  border-color:var(--underline-border-color-key)
}
.alfa-components__border-color-key-inverted--kBuqA {
  border-color:var(--underline-border-color-key-inverted)
}
.alfa-components__border-color-link--A4ARZ {
  border-color:var(--underline-border-color-link)
}
.alfa-components__border-color-primary--Cdyih {
  border-color:var(--underline-border-color-primary)
}
.alfa-components__border-color-primary-inverted--HevLa {
  border-color:var(--underline-border-color-primary-inverted)
}
.alfa-components__border-color-secondary--dv8gR {
  border-color:var(--underline-border-color-secondary)
}
.alfa-components__border-color-secondary-inverted--eZpdV {
  border-color:var(--underline-border-color-secondary-inverted)
}
.alfa-components__border-color-tertiary--QFjds {
  border-color:var(--underline-border-color-tertiary)
}
.alfa-components__border-color-tertiary-inverted--z5RFI {
  border-color:var(--underline-border-color-tertiary-inverted)
}
.alfa-components__border-color-underline--HhnpS {
  border-color:var(--underline-border-color-underline)
}
.alfa-components__border-color-underline-inverted--_ou2J {
  border-color:var(--underline-border-color-underline-inverted)
}
.alfa-components__border-color-graphic-attention--XtpVE {
  border-color:var(--underline-border-color-graphic-attention)
}
.alfa-components__border-color-graphic-link--puTZg {
  border-color:var(--underline-border-color-graphic-link)
}
.alfa-components__border-color-graphic-negative--BbA0Z {
  border-color:var(--underline-border-color-graphic-negative)
}
.alfa-components__border-color-graphic-positive--ANCgK {
  border-color:var(--underline-border-color-graphic-positive)
}
.alfa-components__border-color-specialbg-secondary-transparent--tjeOG {
  border-color:var(--underline-border-color-specialbg-secondary-transparent)
}
.alfa-components__border-color-specialbg-secondary-transparent-inverted--LPdbv {
  border-color:var(--underline-border-color-specialbg-secondary-transparent-inverted)
}
.alfa-components__border-color-specialbg-tertiary-transparent--RkYuz {
  border-color:var(--underline-border-color-specialbg-tertiary-transparent)
}
.alfa-components__border-color-specialbg-tertiary-transparent-inverted--Xj1Ut {
  border-color:var(--underline-border-color-specialbg-tertiary-transparent-inverted)
}
.alfa-components__border-radius-xs--sOmYh {
  border-radius:var(--border-radius-xs)
}
.alfa-components__border-radius-s--glBf6 {
  border-radius:var(--border-radius-s)
}
.alfa-components__border-radius-m--Dr_59 {
  border-radius:var(--border-radius-m)
}
.alfa-components__border-radius-l--swiyt {
  border-radius:var(--border-radius-l)
}
.alfa-components__border-radius-xl--Daz8y {
  border-radius:var(--border-radius-xl)
}
.alfa-components__border-radius-xxl--KcFLS {
  border-radius:var(--border-radius-xxl)
}
.alfa-components__border-radius-3xl--JdsAl {
  border-radius:var(--border-radius-3xl)
}
.alfa-components__border-width-1--QDz0p {
  border-style:solid;
  border-width:1px
}
.alfa-components__border-width-2--XRQlI {
  border-style:solid;
  border-width:2px
}
.alfa-components__border-width-4--JV1vX {
  border-style:solid;
  border-width:4px
}
.alfa-components__direction-vertical--r5bBh {
  flex-direction:column
}
.alfa-components__direction-horizontal--h4edw {
  flex-direction:row
}
.alfa-components__align-start--WCaf8 {
  align-items:flex-start
}
.alfa-components__align-center--XoSMT {
  align-items:center
}
.alfa-components__align-end--RnDy5 {
  align-items:flex-end
}
.alfa-components__align-fill--U0rna {
  align-items:stretch
}
.alfa-components__justify-start--Y8uhQ {
  justify-content:flex-start
}
.alfa-components__justify-center--WDAv1 {
  justify-content:center
}
.alfa-components__justify-end--CwrH4 {
  justify-content:flex-end
}
.alfa-components__backgroundImage--_YcSk {
  background-repeat:no-repeat;
  background-size:cover
}
