.alfa-components__component--M7qbA {
  background-color:var(--color-light-neutral-100);
  border-radius:var(--border-radius-4) var(--border-radius-20) var(--border-radius-20) var(--border-radius-20);
  padding:10px var(--gap-16);
  width:-moz-fit-content;
  width:-webkit-fit-content;
  width:fit-content
}
.alfa-components__rowLimit2--zDrRO {
  -webkit-line-clamp:2;
  -webkit-box-orient:vertical;
  display:-webkit-box;
  overflow:hidden
}
.alfa-components__rowLimit5--DBZZj {
  -webkit-line-clamp:5;
  -webkit-box-orient:vertical;
  display:-webkit-box;
  overflow:hidden
}
.amount__component--jdY6r {
  display:flex;
  padding:var(--gap-2) var(--gap-0)
}
.amount__hidden--Cx8SN {
  background:var(--color-light-neutral-translucent-400);
  border-radius:var(--border-radius-8);
  display:inline-block;
  height:24px;
  width:120px
}
.amount__hiddenWrapper--Sv9mS {
  display:flex;
  padding:var(--gap-8) var(--gap-0)
}
.amount-title__component--PHQ4j {
  display:flex
}
.amount-title__weight--mp4YU {
  font-weight:inherit
}
.amount-title__hidden--XuMip {
  background:var(--color-light-neutral-translucent-400);
  border-radius:var(--border-radius-8);
  display:inline-block
}
.amount-title__hidden-xsmall--c5eun {
  height:16px;
  width:88px
}
.amount-title__hidden-small--nH7oC {
  height:18px;
  width:100px
}
.amount-title__hidden-medium--cQSi7 {
  height:24px;
  width:120px
}
.amount-title__hidden-large--T8n8W {
  height:28px;
  width:136px
}
.amount-title__hidden-xlarge--Vn56j {
  height:32px;
  width:156px
}
.amount-title__hiddenWrapper--Gzkr9 {
  display:flex
}
.amount-title__hiddenWrapper-xsmall--IELhZ {
  padding:var(--gap-4) var(--gap-0)
}
.amount-title__hiddenWrapper-medium--yISuX,
.amount-title__hiddenWrapper-small--p1S4G {
  padding:var(--gap-8) var(--gap-0)
}
.amount-title__hiddenWrapper-large--BIbHr {
  padding:var(--gap-12) var(--gap-0)
}
.amount-title__hiddenWrapper-xlarge--fWJFO {
  padding:var(--gap-16) var(--gap-0)
}
.category__component--reMFc {
  display:flex;
  overflow:hidden;
  padding:var(--gap-2) var(--gap-0)
}
.category__categoryName--ZoPWR {
  -webkit-line-clamp:1;
  -webkit-box-orient:vertical;
  display:-webkit-box;
  overflow:hidden;
  word-break:break-all
}
.category__categoryPercent--cX7cP {
  background-color:var(--color-light-base-bg-secondary);
  border-radius:var(--border-radius-16);
  margin-left:var(--gap-4);
  padding:var(--gap-0) var(--gap-8)
}
.category__rightAddon--Wso1e {
  margin-left:var(--gap-4)
}
.content__component--QFVLK {
  display:grid;
  flex-basis:100%;
  grid-template-columns:1fr auto
}
.content__component--QFVLK.content__horizontal--vVqMO {
  align-self:stretch
}
.footer__component--HjSS_ {
  grid-row-gap:var(--gap-8);
  display:grid;
  grid-column:1/3
}
.footer__component--HjSS_.footer__none--rhiqR {
  margin-top:var(--gap-0)
}
.footer__component--HjSS_.footer__default--ruuhc {
  margin-top:var(--gap-8)
}
.footer-button__component--pUWYW {
  justify-self:start
}
.graphics__component--QegsR {
  display:inline-flex;
  flex-basis:auto
}
.graphics__top--TFL9K {
  align-self:flex-start
}
.graphics__center--BLiae {
  align-self:center
}
.graphics__bottom--dNS77 {
  align-self:flex-end
}
.graphics__horizontal--Avmsy:not(:last-child).graphics__none--_9_oX {
  margin-right:var(--gap-0)
}
.graphics__horizontal--Avmsy:not(:last-child).graphics__airy--m1Rwn {
  margin-right:var(--gap-16)
}
.graphics__horizontal--Avmsy:not(:last-child).graphics__default--QEOAF {
  margin-right:var(--gap-12)
}
.graphics__horizontal--Avmsy:not(:last-child).graphics__compact--twLQS {
  margin-right:var(--gap-8)
}
.graphics__horizontal--Avmsy:not(:last-child).graphics__tiny--E3Oi9 {
  margin-right:var(--gap-4)
}
.graphics__vertical--NTuPh:not(:last-child).graphics__none--_9_oX {
  margin-bottom:var(--gap-0)
}
.graphics__vertical--NTuPh:not(:last-child).graphics__airy--m1Rwn {
  margin-bottom:var(--gap-16)
}
.graphics__vertical--NTuPh:not(:last-child).graphics__default--QEOAF {
  margin-bottom:var(--gap-12)
}
.graphics__vertical--NTuPh:not(:last-child).graphics__compact--twLQS {
  margin-bottom:var(--gap-8)
}
.graphics__vertical--NTuPh:not(:last-child).graphics__tiny--E3Oi9 {
  margin-bottom:var(--gap-4)
}
.graphics__button--OmFyC {
  -webkit-tap-highlight-color:transparent;
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
  background-color:transparent;
  border:0;
  border-radius:0;
  box-shadow:none;
  box-sizing:border-box;
  cursor:pointer;
  margin:var(--gap-0);
  min-width:0;
  min-width:auto;
  outline:none;
  padding:var(--gap-0);
  text-decoration:none;
  transition:opacity .15s ease-in-out;
  -webkit-user-select:none;
  -moz-user-select:none;
  user-select:none;
  vertical-align:middle
}
.graphics__button--OmFyC:hover {
  opacity:var(--pure-cell-clickable-area-hover-opacity)
}
.graphics__button--OmFyC:active {
  opacity:var(--pure-cell-clickable-area-active-opacity)
}
.main__component--Iy0qL {
  align-self:center;
  display:flex;
  flex-direction:column;
  white-space:pre-line
}
.main__component--Iy0qL.main__vertical--yHeVZ {
  grid-row-gap:var(--gap-2);
  align-items:center;
  justify-content:center;
  text-align:center
}
.main__component--Iy0qL.main__reverse--xZlW5 {
  flex-direction:column-reverse
}
.main__component--Iy0qL.main__button--N_PFt {
  -webkit-tap-highlight-color:transparent;
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
  background-color:transparent;
  border:0;
  border-radius:0;
  box-shadow:none;
  box-sizing:border-box;
  cursor:pointer;
  margin:var(--gap-0);
  min-width:0;
  min-width:auto;
  outline:none;
  padding:var(--gap-0);
  text-decoration:none;
  transition:opacity .15s ease-in-out;
  -webkit-user-select:none;
  -moz-user-select:none;
  user-select:none;
  vertical-align:middle
}
.main__component--Iy0qL.main__button--N_PFt:hover {
  opacity:var(--pure-cell-clickable-area-hover-opacity)
}
.main__component--Iy0qL.main__button--N_PFt:active {
  opacity:var(--pure-cell-clickable-area-active-opacity)
}
.text__horizontal--QkMGH {
  padding:var(--gap-2) var(--gap-0)
}
.text__rowLimit1--UnVTo {
  -webkit-line-clamp:1;
  word-break:break-all
}
.text__rowLimit1--UnVTo,
.text__rowLimit2--UAldD {
  -webkit-box-orient:vertical;
  display:-webkit-box;
  overflow:hidden
}
.text__rowLimit2--UAldD {
  -webkit-line-clamp:2
}
.text__component--AWLy4 {
  display:flex;
  flex-direction:row;
  flex-wrap:nowrap;
  justify-content:space-between;
  margin:var(--gap-2) var(--gap-0);
  word-break:break-word
}
.text__component--AWLy4 .text__vertical--IAC2l {
  justify-content:center
}
.text__title--dq2le+.text__value--qCggy {
  flex-shrink:0;
  margin-left:var(--gap-16)
}
:root {
  --scrollbar-background-color:var(--color-light-neutral-translucent-500);
  --scrollbar-background-color-active:var(--color-light-neutral-translucent-500-press)
}
.alfa-components__component--Q0tcj .scrollbar:before {
  background-color:var(--scrollbar-background-color)
}
.alfa-components__component--Q0tcj.dragging .track .scrollbar.visible:before {
  background-color:var(--scrollbar-background-color-active)
}
:root {
  --bottom-sheet-footer-border-top:1px solid var(--color-light-neutral-300);
  --bottom-sheet-footer-background-color:var(--color-light-modal-bg-primary)
}
.footer__footer--b2iED {
  background-color:var(--color-light-modal-bg-primary);
  padding:var(--gap-16) var(--gap-16)
}
.footer__sticky--QXfEV {
  bottom:var(--gap-0);
  position:-webkit-sticky;
  position:sticky;
  z-index:1
}
.footer__highlighted--cD4uO {
  background-color:var(--bottom-sheet-footer-background-color);
  border-top:var(--bottom-sheet-footer-border-top)
}
.footer__background-accent--a9VWe {
  background-color:var(--color-light-bg-accent)
}
.footer__background-info--SMpsL {
  background-color:var(--color-light-bg-info)
}
.footer__background-attention-muted--RrLbO {
  background-color:var(--color-light-bg-attention-muted)
}
.footer__background-positive-muted--ZOvP4 {
  background-color:var(--color-light-bg-positive-muted)
}
.footer__background-negative-muted--QjRgP {
  background-color:var(--color-light-bg-negative-muted)
}
.footer__background-primary--WE415 {
  background-color:var(--color-light-bg-primary)
}
.footer__background-primary-inverted--Z8jRR {
  background-color:var(--color-light-bg-primary-inverted)
}
.footer__background-secondary--wP1gm {
  background-color:var(--color-light-bg-secondary)
}
.footer__background-secondary-inverted--kn8r5 {
  background-color:var(--color-light-bg-secondary-inverted)
}
.footer__background-tertiary--Qg2iY {
  background-color:var(--color-light-bg-tertiary)
}
.footer__background-tertiary-inverted--waqjJ {
  background-color:var(--color-light-bg-tertiary-inverted)
}
.footer__background-quaternary--SxlEj {
  background-color:var(--color-light-bg-quaternary)
}
.footer__background-quaternary-inverted--n90Po {
  background-color:var(--color-light-bg-quaternary-inverted)
}
.footer__background-specialbg-component--zCBPB {
  background-color:var(--color-light-specialbg-component)
}
.footer__background-specialbg-component-inverted--sf5IU {
  background-color:var(--color-light-specialbg-component-inverted)
}
.footer__background-specialbg-primary-grouped--p9Ui9 {
  background-color:var(--color-light-specialbg-primary-grouped)
}
.footer__background-specialbg-secondary-grouped--SJUi5 {
  background-color:var(--color-light-specialbg-secondary-grouped)
}
.footer__background-specialbg-tertiary-grouped--h0fkB {
  background-color:var(--color-light-specialbg-tertiary-grouped)
}
.footer__background-specialbg-secondary-transparent--ZA6fp {
  background-color:var(--color-light-specialbg-secondary-transparent)
}
.footer__background-specialbg-secondary-transparent-inverted--sR4CW {
  background-color:var(--color-light-specialbg-secondary-transparent-inverted)
}
.footer__background-specialbg-tertiary-transparent--ZTNcU {
  background-color:var(--color-light-specialbg-tertiary-transparent)
}
.footer__background-specialbg-tertiary-transparent-inverted--NeDJW {
  background-color:var(--color-light-specialbg-tertiary-transparent-inverted)
}
.alfa-components__component--dCDj2 {
  box-sizing:border-box;
  text-align:unset
}
.alfa-components__horizontal--rcTJT {
  display:flex;
  width:100%
}
.alfa-components__vertical--nl3Da {
  align-items:center;
  display:flex;
  flex-direction:column
}
.alfa-components__button--KXm__ {
  background:none;
  border:0;
  border-radius:0;
  cursor:pointer;
  font-family:inherit;
  padding:var(--gap-0);
  transition:opacity .15s ease-in-out
}
.alfa-components__button--KXm__.alfa-components__hover--Kr5s6 {
  opacity:.8
}
.alfa-components__button--KXm__.alfa-components__active--netA4 {
  opacity:.6
}
.alfa-components__link--GLK2a {
  color:inherit;
  cursor:pointer;
  text-decoration:none;
  transition:opacity .15s ease-in-out
}
.alfa-components__link--GLK2a.alfa-components__hover--Kr5s6 {
  opacity:.8
}
.alfa-components__link--GLK2a.alfa-components__active--netA4 {
  opacity:.6
}
.alfa-components__none--foP9r {
  padding:var(--gap-0)
}
.alfa-components__airy--d8FGP {
  padding:var(--gap-16) var(--gap-0)
}
.alfa-components__default--nNRiW {
  padding:var(--gap-12) var(--gap-0)
}
.alfa-components__compact--TwI4z {
  padding:var(--gap-8) var(--gap-0)
}
.alfa-components__tiny--EKDNt {
  padding:var(--gap-4) var(--gap-0)
}
.alfa-components__noneTop--f58v0 {
  padding-top:var(--gap-0)
}
.alfa-components__airyTop--HskB0 {
  padding-top:var(--gap-16)
}
.alfa-components__defaultTop--T0RNc {
  padding-top:var(--gap-12)
}
.alfa-components__compactTop--iZf2h {
  padding-top:var(--gap-8)
}
.alfa-components__tinyTop--lOHSa {
  padding-top:var(--gap-4)
}
.alfa-components__noneBottom--AkBjv {
  padding-bottom:var(--gap-0)
}
.alfa-components__airyBottom--CRm_0 {
  padding-bottom:var(--gap-16)
}
.alfa-components__defaultBottom--cHzC1 {
  padding-bottom:var(--gap-12)
}
.alfa-components__compactBottom--V4DG8 {
  padding-bottom:var(--gap-8)
}
.alfa-components__tinyBottom--Xf3Gd {
  padding-bottom:var(--gap-4)
}
.alfa-components__left--xn6XN {
  padding-left:var(--gap-16)
}
.alfa-components__right--WUn7A {
  padding-right:var(--gap-16)
}
.alfa-components__both--GB3GK {
  padding-left:var(--gap-16);
  padding-right:var(--gap-16)
}
.alfa-components__focused--Qs80V {
  outline:2px solid var(--focus-color);
  outline-offset:2px
}
:root {
  --scrollbar-rail-size:12px;
  --scrollbar-thumb-size:4px;
  --scrollbar-hover-size:6px;
  --scrollbar-thumb-border-radius:3px;
  --scrollbar-thumb-side-outer-offset:var(--gap-4);
  --scrollbar-thumb-margin:3px
}
.alfa-components__component--EgpSx {
  align-content:flex-start;
  align-items:flex-start;
  flex-direction:column;
  flex-wrap:wrap;
  justify-content:flex-start;
  position:relative
}
.alfa-components__component--EgpSx .alfa-components__wrapper--AggdH {
  height:inherit;
  max-height:inherit;
  max-width:inherit;
  overflow:hidden;
  width:inherit
}
.alfa-components__component--EgpSx .alfa-components__heightAutoObserverWrapper--GABXK {
  box-sizing:inherit;
  flex-basis:0;
  flex-grow:inherit;
  flex-shrink:0;
  float:left;
  height:100%;
  margin:var(--gap-0);
  max-height:1px;
  max-width:1px;
  overflow:hidden;
  padding:var(--gap-0);
  pointer-events:none;
  position:relative;
  width:100%;
  z-index:-1
}
.alfa-components__component--EgpSx .alfa-components__heightAutoObserver--fjemY {
  box-sizing:inherit;
  display:block;
  height:1000%;
  left:var(--gap-0);
  min-height:1px;
  min-width:1px;
  opacity:0;
  overflow:hidden;
  pointer-events:none;
  position:absolute;
  top:var(--gap-0);
  width:1000%;
  z-index:-1
}
.alfa-components__component--EgpSx .alfa-components__mask--iDRhL {
  height:auto;
  overflow:hidden;
  width:auto;
  z-index:0
}
.alfa-components__component--EgpSx .alfa-components__mask--iDRhL,
.alfa-components__component--EgpSx .alfa-components__offset--iWlgU {
  bottom:var(--gap-0);
  direction:inherit;
  left:var(--gap-0);
  margin:var(--gap-0);
  padding:var(--gap-0);
  position:absolute;
  right:var(--gap-0);
  top:var(--gap-0)
}
.alfa-components__component--EgpSx .alfa-components__offset--iWlgU {
  -webkit-overflow-scrolling:touch;
  box-sizing:inherit;
  resize:none
}
.alfa-components__component--EgpSx .alfa-components__contentWrapper--D5dvv {
  box-sizing:border-box;
  direction:inherit;
  display:block;
  height:100%;
  max-height:100%;
  max-width:100%;
  outline:none;
  position:relative;
  scrollbar-width:none;
  width:auto
}
.alfa-components__component--EgpSx .alfa-components__contentWrapper--D5dvv::-webkit-scrollbar {
  height:0;
  width:0
}
.alfa-components__component--EgpSx .alfa-components__placeholder--uysjl {
  max-height:100%;
  max-width:100%;
  pointer-events:none;
  width:100%
}
.alfa-components__component--EgpSx .track {
  bottom:var(--gap-0);
  overflow:hidden;
  pointer-events:auto;
  position:absolute;
  right:var(--gap-0);
  z-index:1
}
.alfa-components__component--EgpSx .track.alfa-components__vertical--fnjcf {
  top:var(--gap-0);
  transform:rotateY(-180deg);
  width:var(--scrollbar-rail-size)
}
.alfa-components__component--EgpSx .track.alfa-components__vertical--fnjcf.alfa-components__hover--zGxmd .scrollbar {
  width:var(--scrollbar-hover-size)
}
.alfa-components__component--EgpSx .track.alfa-components__vertical--fnjcf .scrollbar {
  margin-left:var(--scrollbar-thumb-margin);
  transition:width .1s linear;
  width:var(--scrollbar-thumb-size)
}
.alfa-components__component--EgpSx .track.alfa-components__vertical--fnjcf .scrollbar:before {
  bottom:var(--scrollbar-thumb-side-outer-offset);
  left:var(--gap-0);
  right:var(--gap-0);
  top:var(--scrollbar-thumb-side-outer-offset);
  transition:opacity .2s linear
}
.alfa-components__component--EgpSx .track.alfa-components__horizontal--sPqZA {
  height:var(--scrollbar-rail-size);
  left:var(--gap-0)
}
.alfa-components__component--EgpSx .track.alfa-components__horizontal--sPqZA.alfa-components__hover--zGxmd .scrollbar {
  height:var(--scrollbar-hover-size)
}
.alfa-components__component--EgpSx .track.alfa-components__horizontal--sPqZA .scrollbar {
  bottom:var(--scrollbar-thumb-margin);
  height:var(--scrollbar-thumb-size);
  left:var(--gap-0);
  min-height:0;
  min-width:40px;
  right:auto;
  transition:height .1s linear;
  width:auto;
  will-change:height
}
.alfa-components__component--EgpSx .track.alfa-components__horizontal--sPqZA .scrollbar:before {
  bottom:var(--gap-0);
  left:var(--scrollbar-thumb-side-outer-offset);
  right:var(--scrollbar-thumb-side-outer-offset);
  top:var(--gap-0);
  transition:opacity .2s linear
}
.alfa-components__component--EgpSx .scrollbar {
  left:var(--gap-0);
  min-height:40px;
  position:absolute;
  right:var(--gap-0)
}
.alfa-components__component--EgpSx .scrollbar:before {
  border-radius:var(--scrollbar-thumb-border-radius);
  content:"";
  left:var(--gap-0);
  opacity:0;
  position:absolute;
  right:var(--gap-0)
}
.alfa-components__component--EgpSx .scrollbar.visible:before {
  opacity:1
}
.alfa-components__component--EgpSx.dragging .alfa-components__content--HFmrb {
  pointer-events:none;
  -moz-user-select:none;
  user-select:none;
  -webkit-user-select:none
}
.alfa-components__component--EgpSx.dragging .track {
  pointer-events:all
}
.alfa-components__component--EgpSx.dragging .track.alfa-components__vertical--fnjcf .scrollbar {
  width:var(--scrollbar-hover-size)
}
.alfa-components__component--EgpSx.dragging .track.alfa-components__horizontal--sPqZA .scrollbar {
  height:var(--scrollbar-hover-size)
}
.simplebar-hide-scrollbar {
  left:var(--gap-0);
  overflow-y:scroll;
  position:fixed;
  scrollbar-width:none;
  visibility:hidden
}
.simplebar-hide-scrollbar::-webkit-scrollbar {
  height:0;
  width:0
}
:root {
  --bottom-sheet-header-border-bottom:1px solid var(--color-light-neutral-300);
  --bottom-sheet-title-font-size:20px;
  --bottom-sheet-title-font-weight:600;
  --bottom-sheet-title-line-height:28px;
  --bottom-sheet-title-font-family:var(--font-family-system)
}
.header__headerWrapper--rooKc {
  border-top-left-radius:inherit;
  border-top-right-radius:inherit;
  padding:var(--gap-12) var(--gap-8) var(--gap-4);
  z-index:1
}
.header__hasContent--oTzHq {
  background-color:inherit
}
.header__header--CSP4g {
  display:flex
}
.header__sticky--tJJdw {
  position:-webkit-sticky;
  position:sticky;
  top:var(--gap-0)
}
.header__highlighted--DkH94 {
  border-bottom:var(--bottom-sheet-header-border-bottom)
}
.header__justifyEnd--DYV7A {
  justify-content:flex-end
}
.header__addon--YKT84 {
  align-items:center;
  display:flex;
  height:48px;
  justify-content:center;
  min-width:48px
}
.header__addonFixed--Qc1Bg {
  position:fixed
}
.header__title--qkYVf {
  font-family:var(--bottom-sheet-title-font-family);
  font-size:var(--bottom-sheet-title-font-size);
  font-weight:var(--bottom-sheet-title-font-weight);
  line-height:var(--bottom-sheet-title-line-height);
  padding:10px var(--gap-8);
  width:100%
}
.header__titleCenter--I89_S {
  text-align:center
}
.header__titleLeft--SLz2P {
  text-align:left
}
.header__trimTitle--j1Vhs {
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap
}
:root {
  --pure-cell-clickable-area-hover-opacity:1;
  --pure-cell-clickable-area-active-opacity:1
}
.addon__component--jbjUO {
  align-items:flex-end;
  display:flex;
  flex-direction:column
}
.addon__component--jbjUO>* {
  justify-content:flex-end
}
.addon__component--jbjUO.addon__none--IZvOu {
  padding-left:var(--gap-0)
}
.addon__component--jbjUO.addon__addonPadding--WLbfZ,
.addon__component--jbjUO.addon__default--t3jn8 {
  padding-left:var(--gap-16)
}
.addon__component--jbjUO.addon__auto--wUfbb {
  align-self:auto
}
.addon__component--jbjUO.addon__top--SLQpD {
  align-self:flex-start
}
.addon__component--jbjUO.addon__center--qLnVx {
  align-self:center
}
.addon__component--jbjUO.addon__bottom--liirZ {
  align-self:flex-end
}
.addon__button--Q6NIM {
  -webkit-tap-highlight-color:transparent;
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
  background-color:transparent;
  border:0;
  border-radius:0;
  box-shadow:none;
  box-sizing:border-box;
  cursor:pointer;
  margin:var(--gap-0);
  min-width:0;
  outline:none;
  padding:var(--gap-0);
  text-decoration:none;
  transition:opacity .15s ease-in-out;
  -webkit-user-select:none;
  -moz-user-select:none;
  user-select:none;
  vertical-align:middle
}
.addon__button--Q6NIM:hover {
  opacity:var(--pure-cell-clickable-area-hover-opacity)
}
.addon__button--Q6NIM:active {
  opacity:var(--pure-cell-clickable-area-active-opacity)
}
:root {
  --scrollbar-inverted-background-color:var(--color-light-neutral-translucent-500-inverted);
  --scrollbar-inverted-background-color-active:var(
        --color-light-neutral-translucent-500-inverted-press
    )
}
.alfa-components__component--FpdV0 .scrollbar:before {
  background-color:var(--scrollbar-inverted-background-color)
}
.alfa-components__component--FpdV0.dragging .track .scrollbar.visible:before {
  background-color:var(--scrollbar-inverted-background-color-active)
}
:root {
  --sab:env(safe-area-inset-bottom,var(--gap-0));
  --bottom-sheet-in-transition:transform 0.5s cubic-bezier(0.09,0.91,0.18,0.99);
  --bottom-sheet-out-transition:transform 0.3s ease;
  --bottom-sheet-top-radius:var(--border-radius-16);
  --bottom-sheet-shadow:none
}
.alfa-components__modal--GrLn_ {
  bottom:var(--gap-0);
  max-width:600px;
  pointer-events:none;
  touch-action:none;
  width:100%
}
.alfa-components__modal--GrLn_.alfa-components__modal--GrLn_ {
  background-color:transparent;
  position:fixed
}
.alfa-components__wrapper--FIOgy {
  border-top-left-radius:var(--bottom-sheet-top-radius);
  border-top-right-radius:var(--bottom-sheet-top-radius);
  pointer-events:none;
  touch-action:none;
  transform:translateY(100%);
  transition:border-radius .3s ease
}
.alfa-components__fullscreen--V6FpR {
  border-radius:0
}
.alfa-components__component--Bu7mL {
  background-color:var(--color-light-modal-bg-primary);
  border-radius:inherit;
  box-shadow:var(--bottom-sheet-shadow);
  display:flex;
  flex-direction:column;
  pointer-events:all;
  position:relative
}
.alfa-components__withTransition--bIWmL {
  transition:var(--bottom-sheet-out-transition)
}
.alfa-components__scrollableContainer--MgjfK {
  background-color:inherit;
  border-radius:inherit;
  display:flex;
  flex-direction:column;
  height:100%;
  overflow:auto;
  overscroll-behavior:contain;
  position:relative
}
.alfa-components__marker--wuDQC {
  left:var(--gap-0);
  margin:var(--gap-0) auto;
  position:fixed;
  right:var(--gap-0);
  top:var(--gap-4);
  width:36px;
  z-index:1000
}
.alfa-components__defaultMarker--hqToK {
  background-color:var(--color-light-neutral-translucent-300);
  border-radius:var(--border-radius-20);
  height:4px
}
.alfa-components__content--XumsA {
  background-color:inherit;
  border-radius:inherit;
  color:var(--color-light-text-primary);
  display:flex;
  flex:1;
  flex-direction:column;
  padding:var(--gap-0) var(--gap-16);
  position:relative;
  z-index:0
}
.alfa-components__noHeader--JuBxY {
  padding-top:var(--gap-16)
}
.alfa-components__noFooter--H4ysv {
  padding-bottom:var(--gap-16)
}
.alfa-components__scrollLocked--_84X2 {
  overflow:hidden
}
.alfa-components__hiddenScrollbar--wbQin {
  scrollbar-width:none
}
.alfa-components__hiddenScrollbar--wbQin::-webkit-scrollbar {
  height:0;
  width:0
}
.alfa-components__disabledPointerEvents--hEvbD {
  pointer-events:none
}
.alfa-components__appear--wLsXL .alfa-components__wrapper--FIOgy,
.alfa-components__enter--KBgTV .alfa-components__wrapper--FIOgy {
  transition:none
}
.alfa-components__appearActive--WX5f2 .alfa-components__wrapper--FIOgy,
.alfa-components__enterActive--KMNBc .alfa-components__wrapper--FIOgy {
  transform:translateY(0);
  transition:var(--bottom-sheet-in-transition)
}
.alfa-components__appearDone--SpW_j .alfa-components__wrapper--FIOgy,
.alfa-components__enterDone--RbHHk .alfa-components__wrapper--FIOgy,
.alfa-components__exit--oKNzL .alfa-components__wrapper--FIOgy {
  transform:translateY(0)
}
.alfa-components__exitActive--coaw9 .alfa-components__wrapper--FIOgy {
  transform:translateY(100%);
  transition:var(--bottom-sheet-out-transition)
}
.alfa-components__safeAreaBottom--lRHew {
  padding-bottom:var(--sab)
}
.alfa-components__background-accent--eNm08 {
  background-color:var(--color-light-bg-accent)
}
.alfa-components__background-info--AeqNh {
  background-color:var(--color-light-bg-info)
}
.alfa-components__background-attention-muted--I35Uy {
  background-color:var(--color-light-bg-attention-muted)
}
.alfa-components__background-positive-muted--RgsaR {
  background-color:var(--color-light-bg-positive-muted)
}
.alfa-components__background-negative-muted--W75K6 {
  background-color:var(--color-light-bg-negative-muted)
}
.alfa-components__background-primary--uDLAb {
  background-color:var(--color-light-bg-primary)
}
.alfa-components__background-primary-inverted--tqx3d {
  background-color:var(--color-light-bg-primary-inverted)
}
.alfa-components__background-secondary--lvBbg {
  background-color:var(--color-light-bg-secondary)
}
.alfa-components__background-secondary-inverted--NqAyq {
  background-color:var(--color-light-bg-secondary-inverted)
}
.alfa-components__background-tertiary--u7hos {
  background-color:var(--color-light-bg-tertiary)
}
.alfa-components__background-tertiary-inverted--ol2OF {
  background-color:var(--color-light-bg-tertiary-inverted)
}
.alfa-components__background-quaternary--iaACn {
  background-color:var(--color-light-bg-quaternary)
}
.alfa-components__background-quaternary-inverted--hcFAv {
  background-color:var(--color-light-bg-quaternary-inverted)
}
.alfa-components__background-specialbg-component--T7dUf {
  background-color:var(--color-light-specialbg-component)
}
.alfa-components__background-specialbg-component-inverted--Qfo9V {
  background-color:var(--color-light-specialbg-component-inverted)
}
.alfa-components__background-specialbg-primary-grouped--HvWyX {
  background-color:var(--color-light-specialbg-primary-grouped)
}
.alfa-components__background-specialbg-secondary-grouped--vW5VI {
  background-color:var(--color-light-specialbg-secondary-grouped)
}
.alfa-components__background-specialbg-tertiary-grouped--g72DU {
  background-color:var(--color-light-specialbg-tertiary-grouped)
}
.alfa-components__background-specialbg-secondary-transparent--aD4jI {
  background-color:var(--color-light-specialbg-secondary-transparent)
}
.alfa-components__background-specialbg-secondary-transparent-inverted--jBuhC {
  background-color:var(--color-light-specialbg-secondary-transparent-inverted)
}
.alfa-components__background-specialbg-tertiary-transparent--RA2Gc {
  background-color:var(--color-light-specialbg-tertiary-transparent)
}
.alfa-components__background-specialbg-tertiary-transparent-inverted--gN0sW {
  background-color:var(--color-light-specialbg-tertiary-transparent-inverted)
}
