:root {
  --checkbox-hint-color:var(--color-light-text-secondary);
  --checkbox-label-color:var(--color-light-text-primary);
  --checkbox-error-color:var(--color-light-text-negative);
  --checkbox-bg-color:var(--color-light-neutral-0);
  --checkbox-border-color:var(--color-light-neutral-translucent-700);
  --checkbox-hover-bg-color:var(--color-light-neutral-0-hover);
  --checkbox-hover-border-color:var(--color-light-neutral-translucent-700);
  --checkbox-active-bg-color:var(--color-light-neutral-0-press);
  --checkbox-active-border-color:var(--color-light-neutral-translucent-700);
  --checkbox-checked-bg-color:var(--color-light-accent-secondary);
  --checkbox-checked-border-color:transparent;
  --checkbox-checked-hover-bg-color:var(--color-light-accent-secondary-hover);
  --checkbox-checked-hover-border-color:transparent;
  --checkbox-checked-active-bg-color:var(--color-light-accent-secondary-press);
  --checkbox-checked-active-border-color:transparent;
  --checkbox-disabled-color:var(--color-light-text-secondary);
  --checkbox-disabled-bg-color:var(--color-light-neutral-0);
  --checkbox-disabled-border-color:var(--color-light-neutral-translucent-300);
  --checkbox-checked-disabled-bg-color:var(--color-light-neutral-translucent-200);
  --checkbox-checked-disabled-border-color:transparent;
  --checkbox-icon-color:var(--color-light-neutral-translucent-1300-inverted);
  --checkbox-icon-indeterminate-color:var(--color-light-neutral-translucent-1300-inverted);
  --checkbox-icon-disabled-color:var(--color-light-neutral-translucent-500)
}
.alfa-components__component--Q9bkq {
  align-items:flex-start;
  cursor:pointer;
  display:inline-flex
}
.alfa-components__start--pYFTw {
  align-items:flex-start
}
.alfa-components__center--vNfo8 {
  align-items:center
}
.alfa-components__addons--zQLrU {
  line-height:24px;
  margin-left:auto;
  padding-left:var(--gap-16)
}
.alfa-components__block--Jlay9 {
  width:100%
}
.alfa-components__box--CTeUR {
  align-items:center;
  background-color:var(--checkbox-bg-color);
  border:1.5px solid var(--checkbox-border-color);
  border-radius:var(--border-radius-4);
  box-sizing:border-box;
  color:var(--color-light-neutral-translucent-1300-inverted);
  display:flex;
  flex-shrink:0;
  height:20px;
  justify-content:center;
  margin:var(--gap-2);
  overflow:hidden;
  position:relative;
  transition:background-color .2s ease,border-color .2s ease;
  width:20px
}
.alfa-components__checkedIcon--netzN {
  color:var(--checkbox-icon-color);
  position:absolute
}
.alfa-components__size-20--U9_r8 .alfa-components__box--CTeUR {
  height:16px;
  width:16px
}
.alfa-components__component--Q9bkq:hover:not(.alfa-components__disabled--ZEmrP) .alfa-components__box--CTeUR {
  background-color:var(--checkbox-hover-bg-color);
  border-color:var(--checkbox-hover-border-color)
}
.alfa-components__component--Q9bkq:active:not(.alfa-components__disabled--ZEmrP) .alfa-components__box--CTeUR {
  background-color:var(--checkbox-active-bg-color);
  border-color:var(--checkbox-active-border-color)
}
.alfa-components__checked--T3Asz .alfa-components__box--CTeUR {
  background-color:var(--checkbox-checked-bg-color);
  border-color:var(--checkbox-checked-border-color)
}
.alfa-components__checked--T3Asz:hover:not(.alfa-components__disabled--ZEmrP) .alfa-components__box--CTeUR {
  background-color:var(--checkbox-checked-hover-bg-color);
  border-color:var(--checkbox-checked-hover-border-color)
}
.alfa-components__checked--T3Asz:active:not(.alfa-components__disabled--ZEmrP) .alfa-components__box--CTeUR {
  background-color:var(--checkbox-checked-active-bg-color);
  border-color:var(--checkbox-checked-active-border-color)
}
.alfa-components__indeterminate--AsqxF .alfa-components__box--CTeUR {
  background-color:var(--checkbox-checked-bg-color);
  border-color:var(--checkbox-checked-border-color)
}
.alfa-components__indeterminate--AsqxF:hover:not(.alfa-components__disabled--ZEmrP) .alfa-components__box--CTeUR {
  background-color:var(--checkbox-checked-hover-bg-color);
  border-color:var(--checkbox-checked-hover-border-color)
}
.alfa-components__indeterminate--AsqxF:active:not(.alfa-components__disabled--ZEmrP) .alfa-components__box--CTeUR {
  background-color:var(--checkbox-checked-active-bg-color);
  border-color:var(--checkbox-checked-active-border-color)
}
.alfa-components__disabled--ZEmrP {
  cursor:var(--disabled-cursor)
}
.alfa-components__disabled--ZEmrP .alfa-components__box--CTeUR {
  background-color:var(--checkbox-disabled-bg-color);
  border-color:var(--checkbox-disabled-border-color)
}
.alfa-components__disabled--ZEmrP.alfa-components__checked--T3Asz .alfa-components__box--CTeUR {
  background-color:var(--checkbox-checked-disabled-bg-color);
  border-color:var(--checkbox-checked-disabled-border-color)
}
.alfa-components__disabled--ZEmrP.alfa-components__checked--T3Asz .alfa-components__box--CTeUR .alfa-components__checkedIcon--netzN {
  color:var(--checkbox-icon-disabled-color)
}
.alfa-components__disabled--ZEmrP.alfa-components__indeterminate--AsqxF .alfa-components__box--CTeUR {
  background-color:var(--checkbox-checked-disabled-bg-color);
  border-color:var(--checkbox-checked-disabled-border-color)
}
.alfa-components__disabled--ZEmrP.alfa-components__indeterminate--AsqxF .alfa-components__box--CTeUR .alfa-components__indeterminateLine--C8Ig0 {
  background-color:var(--checkbox-icon-disabled-color)
}
.alfa-components__disabled--ZEmrP .alfa-components__hint--gRRb0,
.alfa-components__disabled--ZEmrP .alfa-components__label--NRv5p {
  color:var(--checkbox-disabled-color)
}
.alfa-components__focused--jam1C .alfa-components__box--CTeUR {
  outline:2px solid var(--focus-color);
  outline-offset:2px
}
.alfa-components__content--RzEi6 {
  flex-grow:1;
  margin-left:var(--gap-12)
}
.alfa-components__size-20--U9_r8 .alfa-components__content--RzEi6 {
  margin-left:var(--gap-8)
}
.alfa-components__size-20--U9_r8 .alfa-components__content--RzEi6 .alfa-components__label--NRv5p {
  font-size:16px;
  font-weight:400;
  line-height:20px
}
.alfa-components__label--NRv5p {
  color:var(--checkbox-label-color);
  display:block;
  font-size:16px;
  font-weight:400;
  line-height:24px
}
.alfa-components__label--NRv5p:not(:only-child) {
  margin-bottom:var(--gap-4)
}
.alfa-components__errorMessage--d2u9f {
  color:var(--checkbox-error-color);
  display:block;
  font-size:14px;
  font-weight:400;
  line-height:18px
}
.alfa-components__hint--gRRb0 {
  color:var(--checkbox-hint-color);
  display:block;
  font-size:14px;
  font-weight:400;
  line-height:18px
}
.alfa-components__indeterminateLine--C8Ig0 {
  background-color:var(--checkbox-icon-indeterminate-color);
  height:2px;
  position:absolute;
  width:10px
}
.alfa-components__component--Q9bkq input {
  opacity:0;
  position:absolute;
  z-index:-1
}
:root {
  --badge-icon-bg-color:var(--color-light-neutral-translucent-1300-inverted)
}
.alfa-components__wrapper--NrRgj {
  align-items:center;
  border-radius:var(--border-radius-circle);
  box-sizing:border-box;
  display:inline-flex;
  justify-content:center
}
.alfa-components__wrapper--NrRgj.alfa-components__s--LKuFC {
  height:20px;
  padding:var(--gap-2);
  width:20px
}
.alfa-components__wrapper--NrRgj.alfa-components__m--qxZfG {
  height:24px;
  padding:var(--gap-2);
  width:24px
}
.alfa-components__wrapper--NrRgj.alfa-components__xl--LQme9 {
  height:40px;
  padding:5px;
  width:40px
}
.alfa-components__component--AWe2z {
  border-radius:var(--border-radius-pill);
  box-sizing:border-box;
  font-size:12px;
  font-weight:700;
  line-height:16px;
  overflow:hidden;
  position:relative;
  z-index:2
}
.alfa-components__component--AWe2z.alfa-components__background-accent--kqc7l {
  background-color:var(--color-light-accent-primary);
  color:var(--color-static-text-primary-inverted)
}
.alfa-components__component--AWe2z.alfa-components__background-specialbg-secondary-transparent--LAqWH {
  background-color:var(--color-light-neutral-translucent-200);
  color:var(--color-light-text-primary)
}
.alfa-components__component--AWe2z.alfa-components__background-primary--ZGB1y {
  background-color:var(--color-light-neutral-0);
  color:var(--color-light-text-primary)
}
.alfa-components__countWrapper--MD9B2 {
  border-radius:var(--border-radius-pill);
  display:inline-flex
}
.alfa-components__count--tBIJo {
  align-items:center;
  display:inline-flex;
  justify-content:center
}
.alfa-components__outlineCount--_2wcG {
  border:2px solid var(--badge-icon-bg-color)
}
.alfa-components__s--LKuFC {
  height:16px;
  min-width:16px;
  padding:var(--gap-0) var(--gap-4)
}
.alfa-components__m--qxZfG {
  height:20px;
  min-width:20px;
  padding:var(--gap-0) 6px
}
.alfa-components__l--FDGSg {
  height:24px;
  min-width:24px;
  padding:var(--gap-0) 6px
}
.alfa-components__heightS--AxmOg {
  font-size:11px;
  font-weight:700;
  line-height:16px;
  padding:var(--gap-0) var(--gap-4)
}
.alfa-components__heightM--do_Af {
  font-size:14px;
  font-weight:700;
  line-height:20px;
  padding:var(--gap-0) var(--gap-4)
}
.alfa-components__heightL--fq1GV {
  font-size:14px;
  font-weight:700;
  line-height:20px;
  padding:var(--gap-0) var(--gap-8)
}
.alfa-components__heightXL--lUDlu {
  font-size:16px;
  font-weight:700;
  line-height:24px;
  padding:var(--gap-0) var(--gap-12)
}
.alfa-components__heightXXL--hmrd2 {
  font-size:16px;
  font-weight:700;
  line-height:24px;
  padding:var(--gap-0) var(--gap-16)
}
.alfa-components__heightS--AxmOg.alfa-components__outlineCount--_2wcG {
  border:1px solid var(--badge-icon-bg-color)
}
.alfa-components__icon--oU54x {
  color:var(--color-light-status-positive);
  max-height:30px;
  min-width:0;
  padding:var(--gap-0)
}
.alfa-components__icon--oU54x.alfa-components__positive--lnmPc {
  background-color:var(--color-light-status-positive);
  color:var(--color-light-status-positive)
}
.alfa-components__icon--oU54x.alfa-components__attention--UVVGL {
  background-color:var(--color-light-status-attention);
  color:var(--color-light-status-attention)
}
.alfa-components__icon--oU54x.alfa-components__negative--LU40j {
  background-color:var(--color-light-status-negative);
  color:var(--color-light-status-negative)
}
.alfa-components__icon--oU54x.alfa-components__link--jRIM6 {
  background-color:var(--color-light-status-info);
  color:var(--color-light-status-info)
}
.alfa-components__icon--oU54x.alfa-components__tertiary--PVg5L {
  background-color:var(--color-light-neutral-500);
  color:var(--color-light-neutral-500)
}
.alfa-components__icon--oU54x.alfa-components__secondary--HwYqp {
  background-color:var(--color-light-neutral-700);
  color:var(--color-light-neutral-700)
}
.alfa-components__icon--oU54x.alfa-components__primary--MEk0O {
  background-color:var(--color-light-neutral-translucent-1300);
  color:var(--color-light-neutral-translucent-1300)
}
.alfa-components__icon--oU54x.alfa-components__s--LKuFC {
  height:16px;
  width:16px
}
.alfa-components__icon--oU54x:before {
  border-radius:var(--border-radius-pill);
  bottom:18%;
  content:"";
  left:18%;
  position:absolute;
  right:18%;
  top:18%;
  z-index:-1
}
.alfa-components__graphic-static-light--inbgi.alfa-components__icon--oU54x:before {
  background-color:var(--color-static-neutral-translucent-1300-inverted)
}
.alfa-components__graphic-primary--zuxqL.alfa-components__icon--oU54x:before {
  background-color:var(--color-light-neutral-translucent-1300)
}
.alfa-components__outline--vW1i6 {
  background-color:var(--badge-icon-bg-color)
}
.alfa-components__outlineColor--hETK0 {
  background-color:var(--color-light-accent-primary)
}
.alfa-components__outlineColor--hETK0.alfa-components__attention--UVVGL {
  background-color:var(--color-light-status-attention)
}
.alfa-components__outlineColor--hETK0.alfa-components__positive--lnmPc {
  background-color:var(--color-light-status-positive)
}
.alfa-components__outlineColor--hETK0.alfa-components__negative--LU40j {
  background-color:var(--color-light-status-negative)
}
.alfa-components__outlineColor--hETK0.alfa-components__link--jRIM6 {
  background-color:var(--color-light-status-info)
}
.alfa-components__outlineColor--hETK0.alfa-components__tertiary--PVg5L {
  background-color:var(--color-light-neutral-500)
}
.alfa-components__outlineColor--hETK0.alfa-components__secondary--HwYqp {
  background-color:var(--color-light-neutral-700)
}
.alfa-components__outlineColor--hETK0.alfa-components__primary--MEk0O {
  background-color:var(--color-light-neutral-translucent-1300)
}
.alfa-components__dot--S17o9 {
  height:8px;
  min-width:0;
  padding:var(--gap-0);
  width:8px
}
.alfa-components__dot--S17o9.alfa-components__outlineCount--_2wcG {
  border:1px solid var(--badge-icon-bg-color)
}
.alfa-components__isHidden--Q4U2X {
  display:none
}
.alfa-components__icon--oU54x svg {
  position:relative
}
.alfa-components__m--qxZfG svg {
  height:24px;
  left:var(--gap-2-neg);
  top:var(--gap-2-neg);
  width:24px
}
.alfa-components__xl--LQme9 svg {
  height:30px;
  width:30px
}
:root {
  --select-checkmark-margin:var(--gap-0) var(--gap-8) var(--gap-0) var(--gap-0);
  --select-checkmark-margin-after:var(--select-checkmark-margin);
  --select-checkmark-size:4px;
  --select-checkmark-before-display:"flex";
  --select-checkmark-after-display:none;
  --select-checkmark-before-display-multiple:block;
  --select-checkmark-after-display-single:none;
  --select-checkmark-unselected-opacity:0;
  --select-checkmark-background:var(--color-light-neutral-translucent-1300);
  --select-checkmark-border-radius:var(--border-radius-circle)
}
.checkmark__checkmark--Jqu9k {
  flex-shrink:0;
  margin:var(--select-checkmark-margin)
}
.checkmark__checkmark--Jqu9k.checkmark__after--qfTg9 {
  margin:var(--select-checkmark-margin-after)
}
.checkmark__single--C6rKZ {
  align-items:center;
  background:var(--select-checkmark-background);
  background-size:cover;
  border-radius:var(--select-checkmark-border-radius);
  display:flex;
  height:var(--select-checkmark-size);
  justify-content:center;
  opacity:var(--select-checkmark-unselected-opacity);
  width:var(--select-checkmark-size)
}
.checkmark__single--C6rKZ.checkmark__selected--hfydn {
  opacity:1
}
.checkmark__before--eCxxy {
  display:var(--select-checkmark-before-display)
}
.checkmark__before--eCxxy.checkmark__multiple--FDEdi {
  display:var(--select-checkmark-before-display-multiple);
  margin-right:var(--gap-12)
}
.checkmark__after--qfTg9.checkmark__after--qfTg9 {
  display:var(--select-checkmark-after-display)
}
.checkmark__after--qfTg9.checkmark__after--qfTg9.checkmark__single--C6rKZ {
  display:var(--select-checkmark-after-display-single)
}
.checkmark__colorIcon--xbIB6 {
  color:var(--color-light-status-positive)
}
.desktop__option--cxhmv {
  align-items:center;
  background:var(--select-option-background);
  box-sizing:border-box;
  color:var(--select-option-color);
  cursor:pointer;
  display:flex;
  font-size:16px;
  font-weight:400;
  line-height:20px;
  padding-left:var(--select-option-left-padding);
  padding-right:var(--select-option-right-padding);
  position:relative;
  transition:background-color .2s ease
}
.desktop__option--cxhmv:not(.desktop__disabled--zIeoW):active {
  background:var(--select-option-active-background);
  color:var(--select-option-active-color)
}
.desktop__option--cxhmv:before {
  background:var(--select-option-divider-background);
  content:"";
  display:var(--select-option-divider-display);
  height:1px;
  left:var(--select-option-left-padding);
  position:absolute;
  right:var(--select-option-right-padding);
  top:var(--gap-0);
  transition:opacity .2s ease
}
.desktop__option--cxhmv:first-child:before {
  display:none
}
.desktop__size-48--jvNsG {
  min-height:var(--size-s-height)
}
.desktop__size-56--HCPZw {
  min-height:var(--size-m-height)
}
.desktop__size-64--azvb7 {
  min-height:var(--size-l-height)
}
.desktop__size-72--kxaE3 {
  min-height:var(--size-xl-height)
}
.desktop__size-64--azvb7,
.desktop__size-72--kxaE3 {
  padding-left:var(--select-option-l-left-padding);
  padding-right:var(--select-option-l-right-padding)
}
.desktop__size-64--azvb7:before,
.desktop__size-72--kxaE3:before {
  left:var(--select-option-l-left-padding);
  right:var(--select-option-l-right-padding)
}
.desktop__selected--qzFU9 {
  background:var(--select-option-selected-background);
  color:var(--select-option-selected-color);
  cursor:default
}
.desktop__disabled--zIeoW {
  background:var(--select-option-disabled-background);
  color:var(--select-option-disabled-color);
  cursor:var(--disabled-cursor)
}
.desktop__content--I7t04 {
  flex:1;
  overflow:hidden;
  text-overflow:ellipsis
}
.desktop__textContent--eE2TK {
  padding-bottom:var(--gap-12);
  padding-top:var(--gap-12)
}
.desktop__highlighted--wTZ_y {
  background:var(--select-option-hover-background);
  color:var(--select-option-hover-color)
}
.desktop__highlighted--wTZ_y+.desktop__option--cxhmv:before,
.desktop__highlighted--wTZ_y:before {
  opacity:0
}
:root {
  --select-mobile-checkmark-display-icon:block;
  --select-mobile-checkmark-display-badge:none
}
.checkmark-mobile__checkmark--KV0Iv {
  align-items:center;
  display:flex;
  flex-shrink:0;
  height:24px;
  justify-content:center;
  opacity:0;
  width:24px
}
.checkmark-mobile__checkmark--KV0Iv:first-child {
  display:none
}
.checkmark-mobile__checkmark--KV0Iv.checkmark-mobile__selected--xHk1K {
  opacity:1
}
.checkmark-mobile__displayIcon--mCH8i {
  display:var(--select-mobile-checkmark-display-icon)
}
.checkmark-mobile__displayBadge--UVG9P {
  display:var(--select-mobile-checkmark-display-badge)
}
:root {
  --select-option-l-left-padding:var(--gap-16);
  --select-option-l-right-padding:var(--gap-16);
  --select-option-selected-background:var(--color-light-modal-bg-primary);
  --select-option-hover-background:var(--color-light-transparent-default-hover);
  --select-option-active-background:var(--color-light-transparent-default-press);
  --select-option-disabled-background:var(--color-light-modal-bg-primary);
  --select-option-color:var(--color-light-text-primary);
  --select-option-selected-color:var(--color-light-text-primary);
  --select-option-hover-color:var(--color-light-text-primary);
  --select-option-active-color:var(--color-light-text-primary);
  --select-option-disabled-color:var(--color-light-text-secondary)
}
.mobile__option--canMW {
  align-items:center;
  background:var(--select-option-background);
  box-sizing:border-box;
  color:var(--select-option-color);
  cursor:pointer;
  display:flex;
  font-size:16px;
  font-weight:400;
  line-height:20px;
  padding-left:var(--select-option-left-padding);
  padding-right:var(--select-option-right-padding);
  position:relative;
  transition:background-color .2s ease
}
.mobile__option--canMW:not(.mobile__disabled--kZ5OM):active {
  background:var(--select-option-active-background);
  color:var(--select-option-active-color)
}
.mobile__option--canMW:before {
  background:var(--select-option-divider-background);
  content:"";
  display:var(--select-option-divider-display);
  height:1px;
  left:var(--select-option-left-padding);
  position:absolute;
  right:var(--select-option-right-padding);
  top:var(--gap-0);
  transition:opacity .2s ease
}
.mobile__option--canMW:first-child:before {
  display:none
}
.mobile__size-48--yU1zD {
  min-height:var(--size-s-height)
}
.mobile__size-56--iq2JR {
  min-height:var(--size-m-height)
}
.mobile__size-64--WLeOa {
  min-height:var(--size-l-height)
}
.mobile__size-72--oePso {
  min-height:var(--size-xl-height)
}
.mobile__size-64--WLeOa,
.mobile__size-72--oePso {
  padding-left:var(--select-option-l-left-padding);
  padding-right:var(--select-option-l-right-padding)
}
.mobile__size-64--WLeOa:before,
.mobile__size-72--oePso:before {
  left:var(--select-option-l-left-padding);
  right:var(--select-option-l-right-padding)
}
.mobile__selected--PC1lQ {
  background:var(--select-option-selected-background);
  color:var(--select-option-selected-color);
  cursor:default
}
.mobile__highlighted--WBB_t {
  background:var(--select-option-hover-background);
  color:var(--select-option-hover-color)
}
.mobile__highlighted--WBB_t+.mobile__option--canMW:before,
.mobile__highlighted--WBB_t:before {
  opacity:0
}
.mobile__disabled--kZ5OM {
  background:var(--select-option-disabled-background);
  color:var(--select-option-disabled-color);
  cursor:var(--disabled-cursor)
}
.mobile__content--JsgJc {
  flex:1;
  overflow:hidden;
  text-overflow:ellipsis
}
.mobile__textContent--lT26k {
  padding-bottom:var(--gap-12);
  padding-top:var(--gap-12)
}
:root {
  --select-optgroup-color:var(--color-light-text-secondary);
  --select-optgroup-background:var(--color-light-modal-bg-primary);
  --select-optgroup-left-padding:var(--gap-12);
  --select-optgroup-right-padding:var(--gap-12);
  --select-optgroup-l-left-padding:var(--gap-16);
  --select-optgroup-l-right-padding:var(--gap-16)
}
.optgroup__optgroup--Ebt_M {
  align-items:center;
  background:var(--select-optgroup-background);
  box-sizing:border-box;
  display:flex;
  min-height:40px;
  padding:var(--gap-12) var(--select-optgroup-right-padding) var(--gap-4) var(--select-optgroup-left-padding);
  position:relative
}
.optgroup__optgroup--Ebt_M+[role=option]:before {
  display:none
}
.optgroup__label--ABzfc {
  color:var(--select-optgroup-color);
  display:block;
  font-size:12px;
  font-weight:500;
  letter-spacing:1.25px;
  line-height:16px;
  text-transform:uppercase
}
.optgroup__size-64--KEb0a,
.optgroup__size-72--ZSuEX {
  padding-left:var(--select-optgroup-l-left-padding);
  padding-right:var(--select-optgroup-l-right-padding)
}
.options-list__optionsList--iUg5A {
  box-sizing:border-box;
  outline:none;
  position:relative;
  width:100%
}
.options-list__optionsListHeader--dKF11 {
  border-bottom:1px solid transparent;
  box-sizing:border-box;
  transition:border-color .2s ease
}
.options-list__optionsListHeader--dKF11.options-list__headerHighlighted--bRFLy {
  border-bottom-color:var(--color-light-neutral-300)
}
.options-list__optionsListFooter--aWLdI {
  border-top:1px solid transparent;
  bottom:var(--gap-0);
  box-sizing:border-box;
  position:-webkit-sticky;
  position:sticky;
  transition:border-color .2s ease
}
.options-list__optionsListFooter--aWLdI.options-list__withBorder--bCh5P {
  border-top-color:var(--color-light-neutral-300)
}
.options-list__scrollable--Kfl5E {
  overflow:auto;
  width:100%
}
.options-list__mask--Bo7JM {
  min-width:4000px
}
.options-list__emptyPlaceholder--HWjRI {
  color:var(--select-options-list-empty-placeholder-color);
  padding:var(--gap-16) var(--gap-12)
}
.options-list__size-64--DFZEJ .options-list__emptyPlaceholder--HWjRI,
.options-list__size-72--zGVW1 .options-list__emptyPlaceholder--HWjRI {
  padding:var(--gap-24) var(--gap-16)
}
:root {
  --select-arrow-color:var(--color-light-neutral-translucent-700);
  --select-arrow-disabled-color:var(--color-light-neutral-translucent-500)
}
.arrow__arrow--MtreS {
  color:var(--select-arrow-color);
  display:block;
  height:24px;
  transition:transform .15s ease-in-out,opacity .2s ease;
  width:24px
}
.arrow__arrow--MtreS.arrow__disabled--c7anQ {
  color:var(--select-arrow-disabled-color)
}
.arrow__arrow--MtreS.arrow__size-40--IN6Bx {
  height:unset;
  width:unset
}
.arrow__open--PHqBk {
  transform:var(--arrow-transform)
}
:root {
  --select-options-list-border-radius:var(--border-radius-8);
  --select-options-list-box-shadow:var(--shadow-m);
  --select-options-list-offset:var(--gap-4);
  --select-options-list-top-padding:var(--gap-0);
  --select-options-list-bottom-padding:var(--gap-0);
  --select-option-background:var(--color-light-modal-bg-primary)
}
.base-select__component--mWy89 {
  max-width:100%;
  outline:0;
  position:relative;
  width:-webkit-max-content;
  width:-moz-max-content;
  width:max-content
}
.base-select__popoverInner--AOHx1 {
  background:transparent;
  border-radius:0;
  padding-bottom:var(--select-options-list-offset);
  padding-top:var(--select-options-list-offset);
  position:relative
}
.base-select__popoverInner--AOHx1.base-select__popoverInner--AOHx1 {
  border:none;
  box-shadow:none
}
.base-select__optionsListWrapper--iU2oz {
  background:var(--select-option-background);
  border-radius:var(--select-options-list-border-radius);
  box-shadow:var(--select-options-list-box-shadow);
  overflow:hidden;
  padding-bottom:var(--select-options-list-bottom-padding);
  padding-top:var(--select-options-list-top-padding);
  position:relative;
  will-change:transform
}
.base-select__optionsListBorder--N3sfJ {
  border-radius:inherit;
  bottom:var(--gap-0);
  box-shadow:inset 0 0 0 1px var(--color-light-neutral-300);
  left:var(--gap-0);
  pointer-events:none;
  position:absolute;
  right:var(--gap-0);
  top:var(--gap-0)
}
.base-select__nativeSelect--tRH6k {
  bottom:var(--gap-0);
  cursor:pointer;
  height:100%;
  left:var(--gap-0);
  max-width:100%;
  min-width:0;
  opacity:0;
  overflow:hidden;
  position:absolute;
  top:var(--gap-0);
  width:100%;
  z-index:1
}
.base-select__block--HZHcN {
  width:100%
}
.base-select__emptySearchPlaceholder--DdyCd {
  text-align:center
}
.base-select__search--z_KoG {
  margin:var(--gap-12) var(--gap-12) var(--gap-0)
}
.base-select__search--z_KoG:last-child {
  margin-bottom:var(--gap-12)
}
.base-select__sheet--hyho3 {
  overflow:hidden
}
.base-select__sheetContent--sJotg.base-select__sheetContent--sJotg {
  padding:var(--gap-0)
}
.base-select__sheetContent--sJotg.base-select__sheetContent--sJotg .base-select__modalContent--q4Eo1 {
  display:flex;
  flex-direction:column;
  padding:var(--gap-0)
}
.base-select__sheetContainer--q3ZfW {
  padding:var(--gap-0)
}
.base-select__optionsListWrapper--i8umc {
  flex:1
}
.base-select__optionsList--y_Wgb.base-select__optionsList--y_Wgb {
  display:flex;
  flex-direction:column;
  height:100%
}
.base-select__scrollbar--tkNH3 {
  flex:1
}
.base-select__search--jTwqr {
  padding:var(--gap-8)
}
.base-select__option--wdUKA.base-select__option--wdUKA {
  padding:var(--gap-4) var(--gap-20) var(--gap-4) var(--gap-16)
}
.base-select__option--wdUKA.base-select__option--wdUKA:before {
  display:none
}
.base-select__optionGroup--flt7o.base-select__optionGroup--flt7o {
  padding:var(--gap-16) var(--gap-16) var(--gap-8)
}
:root {
  --input-error-icon-display:none
}
.clear-button__clearIcon--W6H6l {
  color:var(--color-light-neutral-translucent-500);
  display:block
}
.clear-button__clearIcon--W6H6l:hover {
  color:var(--color-light-neutral-translucent-500-hover)
}
.clear-button__clearIcon--W6H6l:active {
  color:var(--color-light-neutral-translucent-500-press)
}
.clear-button__clearButton--sZEfC+[data-addon=error-icon] {
  display:var(--input-error-icon-display)
}
.clear-button__clearButton--sZEfC+* {
  margin-left:var(--gap-4)
}
.clear-button__clearButton--sZEfC.clear-button__size-40--Z6MKz+* {
  margin-left:6px
}
:root {
  --input-placeholder-color:var(--color-light-text-secondary);
  --input-focus-placeholder-color:var(--color-light-text-tertiary);
  --select-arrow-hover-opacity:0.7
}
.field__component--e0VIU {
  outline:none;
  width:100%
}
.field__field--nRfGH:not(.field__disabled--Ukhop) {
  cursor:pointer
}
.field__field--nRfGH:not(.field__disabled--Ukhop):hover .field__arrow--sVdEP {
  opacity:var(--select-arrow-hover-opacity)
}
.field__disabled--Ukhop {
  cursor:var(--disabled-cursor)
}
.field__placeholder--fZyo5 {
  animation:field__show-placeholder--cWrLI .2s ease;
  color:var(--input-placeholder-color);
  transition:color .2s ease
}
.field__placeholder--fZyo5.field__focused--q52LR {
  color:var(--input-focus-placeholder-color)
}
.field__contentWrapper--M3Qec {
  font-size:16px;
  font-weight:400;
  line-height:20px;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
  width:100%
}
.field__contentWrapper--M3Qec.field__size-40--OL8oP {
  font-size:14px;
  font-weight:400;
  line-height:18px
}
.field__value--tmkLt {
  overflow:hidden;
  text-align:left;
  text-overflow:ellipsis
}
.field__value--tmkLt.field__size-40--OL8oP {
  font-size:14px;
  font-weight:400;
  line-height:18px
}
.field__focusVisible--b5MI3 {
  outline:2px solid var(--focus-color);
  outline-offset:2px
}
@keyframes field__show-placeholder--cWrLI {
  0% {
    opacity:0
  }
  to {
    opacity:1
  }
}
:root {
  --select-option-list-footer-button-gap:var(--gap-8)
}
.footer__footer--GLizc {
  background-color:var(--color-light-base-bg-primary);
  outline:none;
  padding:var(--gap-12)
}
.footer__footer--GLizc>.footer__button--rmqWF+.footer__button--rmqWF {
  margin-left:var(--select-option-list-footer-button-gap)
}
.search__component--aEmQe.search__component--aEmQe {
  width:auto
}
.footer__footer--JOAG1 {
  background-color:var(--color-light-modal-bg-primary);
  box-sizing:border-box;
  display:flex;
  padding:var(--gap-16) var(--gap-16);
  width:100%
}
.footer__footer--JOAG1 .footer__button--IdkaF:first-of-type {
  margin-right:var(--gap-16)
}
.footer__button--IdkaF {
  width:50%
}
.footer__highlighted--thUiO {
  background-color:var(--color-light-modal-bg-primary);
  border-top:1px solid var(--color-light-neutral-300)
}
:root {
  --select-options-list-empty-placeholder-color:var(--color-light-text-secondary);
  --select-option-divider-display:none;
  --select-option-divider-background:var(--color-light-neutral-400);
  --select-option-left-padding:var(--gap-12);
  --select-option-right-padding:var(--gap-12)
}
.virtual-options-list__virtualOptionsList--LVNTw {
  box-sizing:border-box;
  justify-content:space-between;
  outline:none;
  position:-webkit-sticky;
  position:sticky;
  width:100%
}
.virtual-options-list__virtualOptionsListHeader--pBFQ4 {
  border-bottom:1px solid var(--color-light-neutral-300);
  box-sizing:border-box
}
.virtual-options-list__virtualOptionsListFooter--Mi9_1 {
  border-top:1px solid transparent;
  bottom:var(--gap-0);
  box-sizing:border-box;
  position:-webkit-sticky;
  position:sticky
}
.virtual-options-list__virtualOptionsListFooter--Mi9_1.virtual-options-list__withBorder--h496a {
  border-top:1px solid var(--color-light-neutral-300)
}
.virtual-options-list__scrollable--YmKew {
  overflow:auto;
  position:relative;
  width:100%
}
.virtual-options-list__inner--BZ3Bt {
  position:relative;
  width:100%
}
.virtual-options-list__virtualRow--fMuRo {
  left:var(--gap-0);
  position:absolute;
  top:var(--gap-0);
  width:100%
}
.virtual-options-list__virtualRow--fMuRo:before {
  background:var(--select-option-divider-background);
  content:"";
  display:var(--select-option-divider-display);
  height:1px;
  left:var(--select-option-left-padding);
  position:absolute;
  right:var(--select-option-right-padding);
  top:var(--gap-0);
  z-index:1
}
.virtual-options-list__highlighted--aBA9i+.virtual-options-list__virtualRow--fMuRo:before,
.virtual-options-list__highlighted--aBA9i:before,
.virtual-options-list__virtualRow--fMuRo:first-child:before {
  display:none
}
.virtual-options-list__emptyPlaceholder--OszfZ {
  color:var(--select-options-list-empty-placeholder-color);
  flex:1;
  padding:var(--gap-16) var(--gap-12)
}
.virtual-options-list__size-64--oISn3 .virtual-options-list__emptyPlaceholder--OszfZ,
.virtual-options-list__size-72--T25CO .virtual-options-list__emptyPlaceholder--OszfZ {
  padding:var(--gap-24) var(--gap-16)
}
.header__desktop--xDpYU {
  padding:var(--gap-12)
}
.header__mobile--IjfUQ {
  padding:var(--gap-12) var(--gap-8)
}
